body{
  margin: 0;
  padding: 0;
}

.page-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 700px;
  gap: 3rem;
}



#table-wrapper{
  border: 3px black solid;
  max-height: 30rem;
  overflow: scroll;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
  }
  
  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
  }
  
  th {
    background-color: rgb(235,235,235);
  }
  
  td {
    text-align: center;
  }

