html{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(234, 234, 234);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  font-size: 2.5rem;
}

h1,
h5 {
  padding: 0;
  margin: 0;
}


.page-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100vw;
  padding-top: 5rem;
  gap: 20rem;
}


form{
  font-size: 1.75rem;
}


.text-input {
  display: flex;
  flex-direction: column;
  gap: .2rem;
}

input[type=text] {
  font-size: 1.25rem;
  box-sizing: border-box;
  width: 25rem;
  padding: 6px 10px;
  margin: 8px 0;
}

input[type=text]:focus {
  background-color:rgba(0, 171, 174, .1);
}

.text-input label {
  font-weight: bold;
}

.radio-wrapper {
  padding-bottom: 2rem;
  font-size: 1.4rem;
}

#addButton {
  font-size: 1.75rem;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: rgba(0, 171, 179, .1);
}


#table-wrapper{
  border: 2px solid black;
  height: 30rem;
  overflow-y: scroll;
  position: relative;
  box-shadow: 5px 3px 3px grey;
  background-color: white;
}

.table-headers {
  position: sticky;
  top: 0;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 1rem;
    position: relative;
    
}
  
td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
}
  
th {
    background-color: rgb(233, 238, 238);
    
    
}
  
td,
tr {
    text-align: center;
    background-color: white;
}

.read-select {
    margin: 0;
    
}

select {
    font-size: 1rem;
    box-sizing: border-box;
}


