body,
html {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

.page-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  gap: 20rem;
}



#table-wrapper{
  border: 2px solid black;
  max-height: 30rem;
  overflow-y: scroll;
}

.table-headers {
  position: sticky;
  top: 0;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
  }
  
  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
  }
  
  th {
    background-color: rgb(235,235,235);
  }
  
  td,
  tr {
    text-align: center;
  }





